/* لما تكون السايدبار ظاهرة */
.sidebar {
  width: 250px;
  transition: all 0.3s ease;
}

/* المحتوى الرئيسي يأخذ الباقي */
.main-content {
  flex: 1;
  transition: all 0.3s ease;
}

/* لما نخلي كلاس sidebar-hidden */
.main-layout.sidebar-hidden .sidebar {
  display: none;
}

.main-layout.sidebar-hidden .main-content {
  width: 100%;
  background-color: #171b04;
}


/* الآيباد - شاشات متوسطة (من 768px إلى أقل من 1024px) */
@media (max-width: 1024px) {
  .live-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
