@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-body:#1F2128;
    --bg-grid:#242731;
    --cl-text2:#FFFFFF;
    --cl-Icon:#6C5DD3;
    --cl-text:#808191;
    --cl-bottom:#E4E4E4;
    --cl-Label:#FF754C;
}
 * {
  box-sizing: border-box; /* ضروري لمنع تجاوز الحدود */
}

body{
      margin: 0;
  overflow-x: hidden; /* يمنع ظهور سكرول يمين/يسار */

    font-family: "Poppins", sans-serif;
    background-color: var(--bg-body);
}

  .hero {
    position: relative;
    background-image: url('../images/img.svg');
    background-size: cover;
    height: 70vh;
     width: 100%;

    color: var(--cl-text2);
    display: flex;
    align-items: flex-end;
  box-sizing: border-box; /* ضروري لمنع تجاوز الحدود */

  }

  .progressbar{
   position: absolute; /* أو استخدم fixed لو تريد يظل فوق حتى وانت تسوي scroll */
    width: 10px;
    height: 5px;
    background-color: var(--cl-Icon);
    z-index: 999;
    animation: progressbar  linear forwards;
    animation-timeline: scroll() ;
  }

  @keyframes progressbar {
    0%{
width: 10px;
    }
    100%{
width: 100%;
    }

  }

  .left-section {
    flex: 1;
margin-top: 100px;
    padding: 100px;

  }
  .right-section {
      display: flex;
    align-items: flex-end;
    gap: 0; 
    overflow: hidden;
    height: 110vh;
    padding: 100px;

  }
  .linehieght  {
    
 font-size: 1.8rem;
  line-height: 0.5;
  text-align: left;
    }

  .live-badge {
    background: var(--cl-Label);
      color: var(--cl-text2);
      padding: 5px 10px;
      display: inline-flex;
      align-items: center;
      gap: 5px;
border-radius: 10px;
      margin-bottom: 10px;
  }

  .match-info {
    
    margin: 10px 0;
    line-height: 1.4;
  }

  .game-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 14px;
  }

  .game-info img {
    width: 30px;
    height: 30px;
  }

  .watch-button {
    margin-top: 15px;
      padding: 10px 20px;
      background: var(--cl-Icon);
      color: var(--cl-text2);
      border: none;
border-radius: 20px;
      cursor: pointer;
  }
  .watch-button:hover {
    background: #17a44c;
  }


.thumbnail-container {
    width: 100%;
   display: flex;
  flex-direction: row;
  gap: 4px; /* ← المسافة بين الصور */
  overflow: hidden;
  padding: 0; /* ← لو كان فيه padding */ 
 
}

  .thumbnail {
    width: 150px;
      height: 100px;
      background-size: cover;
      background-position: center;
      border-radius: 8px;
      transition: transform 0.3s ease;
      
  }
  .thumbnail:hover {
    transform: scale(1.05);
  }
  .arrow {
     align-self: center;
  margin: 0px;
      width: 30px;
    height: 30px;
    background-color: #3F8CFF;
    border-radius: 50%;
    color: var(--cl-text2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    
  }
  .linee-gradient {
     height: 4px; /* سمك الخط */
  width: 100%;
  background: linear-gradient(to right, 
    #1e3a8a 0%,    /* أزرق قوي بالبداية */
    #1e3a8a 25%,   /* لحد ربع المسافة */
    rgba(30, 58, 138, 0.1) 100% /* يخف حتى يصير شبه شفاف */
  );
  border-radius: 2px;
}

.live-section {
  width: 98%;
  margin: 0 auto;
}

.live-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live-title {
 line-height: 3;
   font-weight: 500;
  font-size: 30px;
  color: var(--cl-text2);
}
.gap80{
  gap: 80px;

}
.gap10{
gap: 100px;
}

.popular-filter {
  display: flex;
  align-items: center;
  color: var(--cl-text);
  width: 250px;
  height: 60px;
 
  border-radius: 20px;
  padding-left: 20px ;
  background-color:var(--bg-grid);
  font-size: 18px;
    font-weight: 500;
  cursor: pointer;
}

.dropdown-icon {
  width: 12px;
  margin-left: 6px;
}

.dropdown-menu {
  display: none; /* اجعلها block عند التفاعل */
  position: absolute;
  top: 100%;
  right: 0;
  background: #0000ff;
  padding: 8px;
  border-radius: 8px;
  list-style: none;
  color: var(--cl-text2);
}

.card-contents{

margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  gap:15px;
}
.live-cards {
width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

}

.live-card {
  background: var(--bg-grid);
  border-radius: 30px;
  overflow: hidden;
  color: var(--cl-text2);
}

.card-thumbnail {
  width: 100%;
  object-fit: cover;
}



.channel-title {
font-size: 18px;
  display: flex;
  flex-direction: column;
}

.channel-title p {
    margin: 0;
}

.channel-user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user-name {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
}

.user-game {
  font-size: 13px;
  color: var(--cl-text);
  margin: 0;
}

.online-icon {
  width: 15px;
  height: 15px;
}

.live-info {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 12px;
  color: var(--cl-text);
  /* margin: top right bot left  */
padding: 0 20px 20px 20px;
  
}
.viewer-count{
  display: flex;
  gap: 10px; /* المسافة بين الصورة والنص، تقدر تغيّرها حسب رغبتك */
font-size:larger;
}
.live-icon {
  height: 27px;
}

  .additional-sections {
    display: flex;
    
    flex-direction: column;
  width: 98%;
  height: 0 auto;
  margin: 0 auto;
  background-color: var(--bg-body);
  gap: 50px;
}


.story-section 
{
  
  display: flex;
flex-direction: column;
  height: 370px;
  width: 98%;
  padding: 0 0 0 50px;
  padding: 40px;
  gap: 20px;
 margin: 0 auto; /* يوسّط العنصر */
  background-color: var(--bg-grid);

border-radius: 20px;
}

.section-title  {
  font-weight: 500;
  font-size: 27px;
  color: var(--cl-text2);
}

.stories-list {

  display: flex;
    justify-content:flex-start ;
    gap: 100px;
}

.story-item {
  color: var(--cl-text2);
  font-size: 12px;
}

.story-avatar {
  position: relative;
  width: 90px;
  height: 90px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-icon {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
}

.story-avatar.add {
  background-color: var(--cl-Icon);
    border-radius: 50%;

}

.story-avatar.add img {
  width: 30px;
  height: 30px;
}

.username {
  text-align: center;
  margin-top: 15px;
  line-height: 10px;
}

.time {
    text-align: center;
  font-size: 12px;
  color: #848091;
}




.pc-categories-container {
  padding: 15px;
 display: flex;
    gap: 80px;


}
.pc-section-title {
  margin-left: 13px;
   font-weight: 500;
  font-size: 27px;
  color: var(--cl-text2); 

}

/* === Left Featured Card === */
.pc-featured-card {
  flex: 0.7;

}

.pc-featured-image {
  
  background-image: url('../images/coverimg.svg'); /* ← بدّلها بالصورة مال League */
  background-size: cover;
  background-position: center;
  height: 100%;
      border-radius: 15px;

  display: flex;
  align-items: flex-end;
}

.pc-featured-content {
   display: flex;
  flex-direction: column;
  padding: 50px;
  color: #FFFFFF;
}



.pc-tag {
  background: #5a4bff6c;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 20px;
}

.pc-featured-title {
  font-size: 30px;
  margin: 10px 0;
}

.pc-viewers {
  font-weight: 300;
  font-size: 14px;
 /* margin: top right bot left  */
 margin: 0;
 margin: 0 0 10px 0 ;
  color: var(--cl-text2);
}

.pc-follow-btn {
  background: var(--cl-Icon);
  height: 50px;
  width: 150px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}










.pc-side-cards {
  height: 94vh;
  flex: 0.7;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pc-category-card {
  width: 98%;
  height: 317px;
  background:var(--bg-grid);
  

/* border-radius: top-left top-right bottom-right bottom-left; */

  border-radius: 40px 40px 25px 25px ;
  display: flex;
  gap: 10px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

/* صورة داخل الكارت */
.pc-thumb {
  width: 50%;
  /* width: 293px; */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

/* محتوى البطاقة على اليمين */
.pc-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 10px;
}
.pc-follow-btns{

    background: #80819133;
  height: 50px;
  width: 150px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}
.pc-small-tag{
  font-size: large;
  font-weight: 600;
  height: 30px;
width: 150px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 7px;

  color: #3F8CFF;
  background-color: #6d5dd33f;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2.1px solid #0000006b;  /* سماكة 1px، نوع خط solid، اللون أسود */

}
.pc-big-tag{
font-size: 23px;
color: var(--cl-text2);


}